.Header {
    background-color: #4ec5a5;
}

h1 {
    color: white;
}

.addButton {
    margin: 15px 0;
    border-radius: 0%;
    height: 27px;
    /* background-color: #b399dd; */
}

#userInput
{
    height: 20px;
    font-size: 12pt;
    width: 300px;
}