.Header {
    background-color: #4ec5a5;
}

h1 {
    color: white;
}

.addButton {
    margin: 15px 0;
    border-radius: 0%;
    height: 27px;
    background-color: #fae29c;
}

.addButton:hover {
    background-color: #e7c27d;
    color: white;
}

#userInput
{
    height: 20px;
    font-size: 12pt;
    width: 300px;
}