.taskList {
  display: grid;
  grid-template-columns: auto 45px 60px;
  gap: 0 5px;
  text-align: left;
  border: 1px lightgrey solid;
}

.editInput {
  font-size: 15px;
  padding: 5px 10px;
}

.text {
  font-size: 20px;
  padding: 5px 35px;
}

.text:hover {
  background-color: #fae29e;
}

.taskButtons {
  float: right;
  margin: 0;
  background-color: #4682b4;
  color: white;
  height: 25px;
  place-self: center;
}

.taskButtons:hover {
  background-color: #cc397b;
  color: white;
}